aiohttp==3.7.4.post0
APScheduler==3.7.0
asgiref==3.3.1
async-timeout==3.0.1
attrs==21.2.0
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
cli-exit-tools==1.1.8
click==8.0.1
dj-database-url==0.5.0
Django==3.1.7
django-apscheduler==0.5.2
django-cors-headers==3.7.0
django-crontab==0.7.1
django-discover-runner==1.0
django-guardian==2.4.0
django-heroku==0.3.1
django-otp==1.0.2
django-phonenumber-field==5.0.0
django-rest-passwordreset==1.1.0
django-utils-six==2.0
djangorestframework==3.12.2
fake-winreg==1.5.6
gunicorn==20.1.0
idna==2.10
ipinfo==4.2.0
lib-platform==1.2.7
lib-registry==2.0.7
multidict==5.1.0
phonenumbers==8.12.18
Pillow==8.2.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
PyJWT==1.7.1
pyotp==2.6.0
PySocks==1.6.8
python-decouple==3.4
pytz==2021.1
qrcode==6.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
twilio==6.55.0
typing-extensions==3.10.0.0
tzlocal==2.1
ua-parser==0.10.0
urllib3==1.26.3
user-agents==2.2.0
whitenoise==5.2.0
wrapt==1.12.1
yarl==1.6.3
